.list {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    padding: 1rem;
}

.recipe {
    background: rgba(255, 255, 255, 0.05);
    /* padding: 2rem; */
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    align-items: center;
    overflow: hidden;
    height: 175px;
    /* box-shadow: 5px 5px 5px 0px black; */
}

.recipe div {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    text-align: left;
    padding: 1rem;
    /* min-width: 250px; */
}

.recipe img {
    object-fit: cover;
    width: 175px;
    height: 100%;
}

@media screen and (max-width: 500px) {
    .recipe img {
        flex: 3;
        width: 0;
    }
    .recipe div {
        flex: 4;
    }
}

.recipe a {
    font-weight: bolder;
    font-size: 18px;
}