.container {
    flex: 1;
    gap: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}

.itemList {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    overflow-y: scroll;
    justify-content: center;
    align-items: center;
    list-style: none;
    height: fit-content;
    margin-bottom: auto;
}

.loading {
    height: fit-content;
    margin-bottom: auto;
}

.pageNumberList {
    display: flex;
    list-style: none;
    gap: 0.25rem;
    align-items: center;
}

.pageNumberList button {
    background: transparent;
}

.active {
    outline: 2px solid #646cff;
}