.container {
    display: flex;
    gap: 3rem;
    align-items: flex-start;
    padding: 1rem;
}

.section {
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
    flex: 3;
}

.list {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
}

.recipe {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 200px;
    width: 200px;
    color: var(--text-light);
    display: flex;
    align-items: flex-end;
    border-radius: 5px;
}

.recipe span {
    font-weight: bold;
    padding: 0.5rem;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(3px);
    border: 1px solid rgba(255, 255, 255, 0.25);
    border-radius: 3px;
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.filter {
    display: flex;
    padding: 0.5rem;
    gap: 0.5rem;
    align-items: center;
}

.filter label {
    display: flex;
    gap: 0.5rem;
    align-items: center;
}

.delBtn {
    padding: 0.5rem 0.75rem;
}

.sideBar {
    background: var(--dark-2);
    border-radius: 10px;
    padding: 2rem;
    flex: 1;
    text-align: left;
}

.sideBar summary {
    font-size: 18px;
}

.sideBar li {
    display: flex;
    gap: 1rem;
    /* justify-content: space-between; */
}

.form {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.form button {
    font-size: 14px;
    padding: 0.5rem 1.5rem;
}

.form input {
    flex: 1;
    padding: 0.5rem;
    border-radius: 5px;
    border: 1px solid var(--text-dark);
}

.checkbox:indeterminate {
    accent-color: red;
}

.checkbox:checked {
    accent-color: var(--blue-1);
}

@media screen and (max-width: 500px) {
    .container {
        flex-direction: column;
    }
    .recipe {
        width: 150px;
        height: 150px;
    }
    .section {
        flex-direction: row;
        align-items: center;
    }
}