.form {
    margin: auto;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding: 1rem;
    width: 50vw;
    /* background: #21222B; */
    text-align: left;
}

.form input {
    border-radius: 5px;
    padding: 0.5rem;
    background: transparent;
    border: 2px solid var(--text-dark);
    font-family: Arial, sans-serif;
}

.form input[type=file] {
    display: none;
    visibility: hidden;
}


.form img {
    aspect-ratio: 1 / 1;
    flex: 1;
    background: var(--text-dark);
    border: 1px solid transparent;
    width: 100%;
    align-self: center;
    object-fit: cover;
    object-position: center;
    overflow: hidden;
    border-radius: 10px;
    box-sizing: border-box;
}

.form button {
    align-self: center;
}

.form textarea, 
.hidden {
    background: transparent;
    border: 2px solid var(--text-dark);
    font-family: Arial, sans-serif;
    overflow: hidden;
    line-height: 1.4rem;
    resize: none;
    border-radius: 5px;
    padding: 0.5rem;
    padding-bottom: 0;
    font-family: Arial, sans-serif;
}

.hidden {
    display: none;
    visibility: hidden;
    white-space: pre-wrap;
    word-wrap: break-word;
}

.hidden br {
    line-height: 3px;
}

.buttonGroup {
    display: flex;
    gap: 0.5rem;
    padding-top: 1rem;
    justify-content: center;
}

@media screen and (max-width: 500px) {
    .buttonGroup button {
        flex: 1;
    }
    .form {
        box-sizing: border-box;
        width: 100%;
        max-width: 100vw;
        min-height: 100vh;
    }
}

.divider {
    width: 100%;
    display: block;
    border: 0;
    line-height: 1em;
    position: relative;
    text-align: center;
    height: 1.5em;
    font-size: 14px;
    margin: 30px 15px;
    background-color: inherit;
}

.divider::before {
    content: "";
    background: #434343;
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    height: 2px;
}

.divider::after {
    content: attr(data-content);
    position: relative;
    padding: 0 7px;
    line-height: 1.5em;
    color: var(--text-dark);
    background-color: inherit;
}

/* for upload button on hover over preview image */
.imgContainer img {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1;
}

.hidden {
    visibility: hidden !important;
}

.empty {
    border: 2px var(--text-dark) dashed !important;
}

.imgContainer {
    position: relative;
    border: 2px solid transparent;
    border-radius: 10px;
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
    display: grid;
    place-content: center;
    place-items: center;
    aspect-ratio: 1 / 1;
    width: 100%;
    cursor: pointer;
}

.imgContainer i {
    font-size: 32px;
}